@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400i|Pacifico');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.title{
  font-size: 1.5em !important;
  font-family: 'IBM Plex Mono', monospace;
  margin: 15px !important;
}


.allergies {
  padding: 5px;
}

.img{
  width: 260px;
  height: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.swal-title {
  margin: 0px;
  font-size: 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
}



.recipeContainer{
  background-image: url('./images/board-bunch.jpg');
  background-size: cover;
  height: auto;
  min-height: 100%;
  position: absolute;
  width: 100%;
  padding-bottom: 20px;
}

.likesContainer{
  background-image: url('./images/board-bunch.jpg');
  background-size: cover;
  height: auto;
  min-height: 100%;
  position: absolute;
  width: 100%;
  padding-bottom: 20px;
}

.likesGrid{
  padding-top: 50px;
}

.cards{
  margin-left: 200px !important;
  margin-right: 200px !important;
}

.searchForm{
  /* background-color: black; */
  border-radius: 5px;
}

.headerTitle{
  padding-left: 20px;
  font-size: 2em;
  font-family: 'Pacifico', cursive;
}

.headerBtn{
  margin-left: 5px !important;
  margin-right: 5px !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
